<html lang="en">

  <head>
    {{>headerlinks}}
  </head>

  <body>

    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main-menu main-menu-body">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            <!-- right side div -->
            <div
              class="col-md-6 col-12 main_header_right main_header_right_about"
            >
              <!-- <figure> -->
              <img src="images/profile.png" alt="" class="img-fluid" />
              <!-- </figure> -->
            </div>

            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>I Am A
                <span class="text_clr">MERN Stack Developer</span>
                Persuing B-Tech in OUTR, BBSR</h1>
              <a href="https://www.youtube.com" target="_blank"><button>About Me</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- footer code -->
    {{>footer}}
  </body>

</html>